<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>JSPBASIC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 서블릿을 등록하는 과정-+ -->
  <servlet>
  	<servlet-name>xxx</servlet-name>
  	<servlet-class>com.demo.servlet.DemoServlet2</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>xxx</servlet-name>
  	<url-pattern>/orange</url-pattern>
  </servlet-mapping>
  
  <!-- 에러페이지등록 -->
  <!-- 404에러에 대해서 error_view화면으로 처리  
  미리 지정하면 어떤 에러가 발생하는지 로그 확인불가능 현직에서는 테스트 후 최종단계에서 작업한다.-->

<!--   <error-page>
  	 <error-code>404</error-code>
  	 <location>/errorpage/errorview.jsp</location> 
  </error-page>
  
 <error-page>
 	<error-code>500</error-code>
 	<location>/errorpage/errorview.jsp</location>
 </error-page>
 
 <error-page>
 	<exception-type>java.lang.NumberFormatException</exception-type>
 	<location>/errorpage/errorview.jsp</location>
 </error-page> 	 
  	 
   -->
  
  
  
  
</web-app>

